@font-face {
  font-family: 'DINPro-Bold';
  src: url('./DINPro-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url('./DINPro-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Regular';
  src: url('./DINPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}